@CHARSET "ISO-8859-1";

#FeaturedImages{
	background-color: #ccc;
	height: 100px;
}

#MainMap{
	height: 590px;
}

/*General marker style*/
.map-marker {
	  position: relative;
	  width: 16px;
	  height: 16px;
	  border-radius: 30px;
	  margin-top: -8px; /*Shift by arrow top+height*/
	  margin-left: -8px; /*Shift by half the marker width*/
	  line-height: 16px;
	  font-size: 16px;
	  text-align: center;
	  font-weight: bold;
	  border: 2px solid #fff;
	  transition: all 0.2s ease;
	  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

	.map-marker .icon {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  border-radius: 30px;
	}
	
	.map-marker:hover {
		width: 26px;
		height: 26px;
		margin-top: -13px; /*Shift by arrow top+height*/
		margin-left: -13px; /*Shift by half the marker width*/
	}
	
/* thumbnail items */
.MapPOIImageSliderItem{
	width:100px;
}
	
/* Menu bullets */
.menu-circle{
	transition: all 0.2s ease;
	width:16px;
	height: 16px;
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	border-radius: 30px;
}

/* popups */
#MainMap .leaflet-popup-pane{
	pointer-events: none;
}

#MainMap .leaflet-popup-content-wrapper, 
#MainMap .leaflet-popup-tip{
	background-color: transparent;
	box-shadow: none;
	pointer-events: none;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}

/* Creat POI Image Form */

#MapPOILoader,
#MapPOISuccess,
#MapPOIError{
	display: none;
}