@CHARSET "ISO-8859-1";

#admin-map-image{
	position: relative;
	height:500px;
}

#admin-map-image .dragabble{
	position: absolute;
	top:0px;
	left:0px;
	cursor: move;
}


/*General marker style*/
.map-marker {
	  position: relative;
	  width: 16px;
	  height: 16px;
	  border-radius: 30px;
	  margin-top: -8px; /*Shift by arrow top+height*/
	  margin-left: -8px; /*Shift by half the marker width*/
	  line-height: 16px;
	  font-size: 16px;
	  text-align: center;
	  font-weight: bold;
	  border: 2px solid #fff;
	  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

	.map-marker .icon {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  border-radius: 30px;
	}
	
	.map-marker:hover {
		width: 26px;
		height: 26px;
		margin-top: -13px; /*Shift by arrow top+height*/
		margin-left: -13px; /*Shift by half the marker width*/
	}